! SXIV Colors
Sxiv.background: #101213
Sxiv.foreground: #DE9A1C

! DWM Colors
dwm.norm_fg: #ece4d0
dwm.norm_bg: #101213
dwm.norm_border: #101213
dwm.sel_fg: #101213
dwm.sel_bg: #D69821
dwm.sel_border: #ece4d0

! Terminal Colors
*.foreground: #ece4d0
*.background: #101213
*.cursorColor: #ece4d0

! black
*.color0: #101213
*.color8: #a59f91

! red
*.color1:	#CC231C 
*.color9: #CC231C 

! green
*.color2: #D69821
*.color10: #D69821

! yellow
*.color3: #988D73
*.color11: #988D73

! blue
*.color4: #3D848E
*.color12: #3D848E

! magenta
*.color5: #458588
*.color13: #458588

! cyan
*.color6: #BBAF90
*.color14: #BBAF90

! white
*.color7: #ece4d0
*.color15: #ece4d0

! DMENU Colors
dmenu.background: #101213
dmenu.foreground: #ece4d0
dmenu.selbackground: #DE9A1C
dmenu.selforeground: #101213
