*{
	all: unset;
	font-family: JetBrainsMono Nerd Font;
}

.bat_bar scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.bat_bar scale trough highlight {
	background-color: #88C0D0;
}
